﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <nav>
        @Html.ActionLink("List", "Index", "Home")
        @Html.ActionLink("Add", "Set", "Home")
        @Html.ActionLink("Delete", "Remove", "Home")
    </nav>
    <div class="container body-content">
        @RenderBody()
    </div>
</body>
</html>
