﻿
@{
    ViewBag.Title = "Remove";
}

<h2>Remove from storage</h2>
@using (Html.BeginForm("Remove", "Home", FormMethod.Post))
{
    <div>
        @Html.Label("key:")
        @Html.TextBox("key")
    </div>
    <input type="submit" />
}


