﻿
@{
    ViewBag.Title = "Set";
}

<h2>Add to storage</h2>
@using (Html.BeginForm("Set", "Home", FormMethod.Post))
{
    <div>
        @Html.Label("key:")
        @Html.TextBox("key")
    </div>
    <div>
        @Html.Label("value:")
        @Html.TextBox("value")
    </div>
    <input type="submit" />
}

